<div class="container-login">
    <nav class="nav-login">
        <div class="logo">
            <img class="img-logo" src="../../../assets/images/flag.png" alt="image logo">
            <h1 routerLink="/Home"> Burgerland </h1>
        </div>
        <div class="buttons-container">
            <button class = "btn-font" routerLink="/Home/login">Log In</button>

            <button class = "btn-font" routerLink="/Home/aboutus"> About Us</button>
        </div>
    </nav>
    
    <div class="app-form-container">
        <router-outlet></router-outlet>
    </div>
    
    <div class="btn-suggestion">
        <h2> Any suggestions? </h2>
    </div>
</div>
