<div class="container-chef-view">

    <section class="section-orders-container-routing">
        <nav class="nav-btns-order" data-value="" (click)="changeSectionStatus($event)">
            <a class="nav-order" data-value="">
                All
            </a>
            <a class="nav-order" data-value="pending">
                Pending
            </a>
            <a class="nav-order" data-value="delivering">
                Ready to serve
            </a>
            <a class="nav-order" data-value="delivered">
                Delivered
            </a>
            <a class="nav-order" data-value="canceled">
                Canceled
            </a>
        </nav>

        <div class="orders-container-routing">
            <div class="orders-cards-container">

                <div class="order-card" *ngFor="let order of (allStatusOrders | filterOrders: statusPipe | sortOrders | statusBtn)"> 
                    <div class="order-info-container">
                        <div class="table-and-client">
                            <h4>To: {{ order.client }}</h4>
                        </div>
                        <div class="time">
                            <p>{{order.dateEntry | date: 'short'}}</p>
                            <!-- <p>Update at: {{order.updatedAt | date: 'short'}}</p> -->
                        </div>
                    </div>
                    <div class="products-container">
                        <div class="product-card" *ngFor="let x of order.products">
                            <div class="product-img">
                                <img [src]="x.product.image">
                            </div>
                            <div class="product-info">
                                <p>{{x.product.name}}</p>
                                <p>Qty: {{x.qty}}</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn-status" (click)="changeStatus($event)" data-value={{order.status}}
                        data-id={{order._id}}
                        [ngClass]="{'btn-pending': order.status === 'pending', 'btn-delivering': order.status === 'ready to serve', 'btn-delivered': order.status === 'delivered'}">
                        {{order.status | titlecase}}
                    </button>
                </div>

            </div>
        </div>

    </section>

</div>