<div class="container-chef-view">

    <section class="section-orders-container-routing">
        <nav class="nav-btns-order" data-value="">
          <a class="nav-order" data-value="all">
              All
          </a>
          <a class="nav-order" data-value="pending">
              Pending
          </a>
          <a class="nav-order" data-value="cooking">
              Cooking
          </a>
          <a class="nav-order" data-value="ready-to-serve">
            Ready to serve
          </a>
        </nav>
  
        <div class="orders-container-routing" >
            <div class="orders-cards-container">

                <div class ="order-card" *ngFor="let order of allOrders">
                    <div class="order-info-container">
                        <div class="table-and-client">
                            <h4>Table #1</h4>
                            <h4>To: {{ order.client }}</h4>
                        </div>
                        <div class="time">
                            <p>{{order.dateEntry | date}}</p>
                        </div>
                    </div>
                    <!-- *ngFor="let x of arrProducts" -->
                    <div class="products-container">
                        <div class="product-card" *ngFor="let x of order.products">
                            <div class="product-img">
                                <img [src]="x.product.image">
                            </div>
                            <div class="product-info">
                                <p>Qty: {{x.qty}}</p>
                                <p>Name: {{x.product.name}}</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn-status" >{{order.status | titlecase}}</button>
                </div>

          </div>


        
        </div>
      </section>

  </div>
  

