.container-waiter-panel {
    overflow: hidden;
    background-color: #F0E5D9;
    background-image: url('../../../../assets/images/waiter-panel-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 960px;
}