<div class="container-menu-view">

  <div class="section-menu-container-routing">
      <nav class="nav-btns-menu">
        <a class="nav-menu" routerLink="/waiter/menu/breakfast">
            Breakfast
          </a>
          <a class="nav-menu" routerLink="/waiter/menu/lunch">
            Lunch
          </a>
          <a class="nav-menu" routerLink="/waiter/menu/all">
            All
          </a>
      </nav>

      <div class="menu-container-routing">
        <router-outlet></router-outlet>
      </div>

  </div>

  <div class="container-food-order">
    <div class="food-order-card">
      <div class="container-position">
        <h2>Order #1</h2>
        <h4>To: Mitch</h4>

        <div class="order-container">
          <div class="order-list-container">
            <div class="order">
              <div class="img-food-order">
                <img
                  src="../../../../assets/images/simple bur 2.png"
                  class="img-order"
                />
              </div>
              <div class="order-info">
                <h4>Simple burger</h4>

                <div class="add-and-price">
                  <div class="add-or-less">
                    <img src="../../../../assets/images/màs.png" />
                    <p>1</p>
                    <img src="../../../../assets/images/menos.png" />
                  </div>
                  <p>$25</p>
                </div>
              </div>
            </div>
            <div class="plus-trash">
              <button class="plus-btn">Plus</button>
              <img src="../../../../assets/images/trash-item.png" />
            </div>
          </div>

          <div class="order-list-container">
            <div class="order">
              <div class="img-food-order">
                <img
                  src="../../../../assets/images/simple bur 2.png"
                  class="img-order"
                />
              </div>
              <div class="order-info">
                <h4>Double burger</h4>

                <div class="add-and-price">
                  <div class="add-or-less">
                    <img src="../../../../assets/images/màs.png" />
                    <p>4</p>
                    <img src="../../../../assets/images/menos.png" />
                  </div>
                  <p>$25</p>
                </div>
              </div>
            </div>
            <div class="plus-trash">
              <button class="plus-btn">Plus</button>
              <img src="../../../../assets/images/trash-item.png" />
            </div>
          </div>
        </div>
      </div>

      <div class="total-container">
        <div>
          <img
            src="../../../../assets/images/Trash.png"
            class="img-trash-final"
          />
        </div>
        <div class="total-and-btn-send">
          <p>Total: $60</p>
          <button>Send <img src="../../../../assets/images/Icon.png" /></button>
        </div>
      </div>
    </div>
  </div>
</div>
