@mixin media-query-custom($min-width, $max-width) {
    @media (min-width: $min-width) and (max-width: $max-width) {
        @content
    }
  }

@mixin d-flex($flex, $j-content,$a-items, $f-direction){
    display: $flex;
    flex-direction: $f-direction;
    justify-content: $j-content;
    align-items: $a-items;
}
 
.plus-btn {
    border: none;
    background: none;
    font-weight: bold;
}

.total-container {
    // display: flex;
    border-top: 1px solid #a09d9d;
    @include d-flex(flex, space-between, flex-start, none);
    padding-top: 5%;
}

.order-container {
    margin-top: 18px;
    height: 25%;

    &::-webkit-scrollbar-track {
        background-color: transparent; 
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(107, 108, 109); 
    }
    &::-webkit-scrollbar {
        width: 4px;
    }

    @include media-query-custom (1000px, 1439px) { 
        height: 35%;
        margin-bottom: 12px;
    }
} 

.order-list-container {
    margin-bottom: 20px;
    margin-right: 15px;
}

.total-and-btn-send {
    @include d-flex(flex, none, center, column);

    button {
        border-radius: 8px;
        padding: 7px;
        border: 1px solid rgb(7, 240, 27);
        background-color: white;
        width: 100px;
        color: green;
        @include d-flex(flex, space-around, center, none)
    }

    img {
        width: 20px;
    }
}

.nav-btns-menu {
    flex: 1;
    @include d-flex(flex, space-evenly, center, column);

    .nav-menu {
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
        width: 30%;
        padding: 10px;
        border: none;
        border-radius: 20px;
        font-size: 15px;

        &:hover {
            background-color: rgb(255, 252, 248);
            color: rgb(75, 158, 235, 1);
            border: 1px solid rgb(75, 158, 235, 1);
            border-radius: 20px;
        }
    }
}

.menu-container-routing {
    flex: 5.5;
    height: 80%;
}

// all food
.food-card-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    overflow-y: scroll;
    height: 100%;
    justify-content: center;
    row-gap: 60px;
    padding-top: 1%;
    padding-bottom: 2%;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
        background-color: transparent; 
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(107, 108, 109); 
    }
    &::-webkit-scrollbar {
        width: 4px; 
    }
}
