@mixin min-height($height) {
    @media (min-height: $height) {
        @content
    }
  }
  
  @mixin media-query-custom($min-width, $max-width) {
    @media (min-width: $min-width) and (max-width: $max-width) {
        @content
    }
  }

.orders-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    overflow-y: scroll;
    height: 700px;
    column-gap: 65px;
    padding-bottom: 10px;

    &::-webkit-scrollbar-track {
        background-color: transparent; /*color de la barra de fondo*/
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(107, 108, 109); /*color del manejador*/
        border-radius: 50px;
    }
    &::-webkit-scrollbar {
        width: 6px; /*ancho del scroll vertical*/
        
    }

    @include media-query-custom (1000px, 1439px) { 
        height: 440px;
    }

    @include min-height(693px) {
        height: 460px;
    }

    @include min-height(730px) {
        height: 485px;
    }

    @include min-height(770px) {
        height: 520px;
    }

    @include min-height(800px) {
        height: 565px;
    }

    @include min-height(840px) {
        height: 590px;
    }

}

.product-img {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

     img {
         height: 40px;
     }

     @include media-query-custom (1000px, 1439px) { 
        height: 34px;
    }
}

.product-info {
    border-bottom: 1.7px solid rgb(116, 115, 115);
}

.time {
    text-align: center;
    font-weight: bold;
}

.btn-status {
    width: 40%;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid;
    font-weight: bold;
    width: 47%;

    .btn-style {
        color: aqua;
        background-color: black;
    }
}

.btn-pending {
    background-color: rgba(255, 248, 248, 1);
    color: rgba(139, 5, 5, 1)
}

.btn-delivering {
    background-color: rgba(248, 255, 250, 1);
    color: rgba(5, 139, 83, 1)
}

.btn-delivered {
    background-color: rgba(251, 248, 255, 1);
    color: rgba(56, 5, 139, 1);
    width: 47%;
}

.cancel-order {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-cancel-order {
    background-color: red;
    color: white;
    border: none;
    width: 22px;
    height: 22px;
    display: flex;
    border-radius: 3px;
    align-items: center;
}

.cross-btn {
    font-weight: bold;
    margin-left: 1px;
}

@media(min-width: 1700px) {

    .orders-cards-container {
        height: 680px;
    }
}

@media(max-width: 769px) {
    .nav-btns-menu {
        column-gap: 30px;

        .nav-menu {
            width: 30%;
            height: 99%;
        }
    }

    .orders-cards-container {
        height: 800px;
        justify-content: space-around;
        column-gap: 20px;
    }

    .order-card {
        width: 40%;
    }
}