@mixin minimum-size {
  @media (min-width: 1000px) and (max-width: 1340px) {
      @content
  }
}

@mixin medium-size {
  @media (min-width: 1341px) and (max-width: 1410px) {
      @content
  }
}

@mixin max-size {
  @media (min-width: 1411px) and (max-width: 1439px) {
      @content
  }
}

@mixin max-height {
  @media (min-height: 700px) {
      @content
  }
}

@mixin media-query-custom($min-width, $max-width) {
  @media (min-width: $min-width) and (max-width: $max-width) {
      @content
  }
}

.container-waiter-panel {
  overflow-y: hidden;
  background-color: #f0e5d9;
  background-image: url("../../assets/images/waiter-panel-background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

.glass-panel {
  margin: 45px;
  background-color: rgba(255, 255, 255, 0.35);
  // backdrop-filter: blur(22px);
  border-radius: 20px;
  height: 86%;
  display: flex;

  &-dashboard {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.871);
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
  }
  &-container-routing {
    flex: 5;
    // background-color: rgba(117, 191, 43, 0.59);
    border-radius: 50px;
  }
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  height: 70%;
  width: 75%;
  display: flex;
  align-items: center;
  // padding: 0 32px;
  position: relative;
  transition: all 200ms ease;
  // justify-content: center;

  .icon {
    width: 32px;
    margin-right: 12px;
    margin-left: 12px;
  }

  &-logoutbtn {
    height: 10%;
    width: 70%;
  }

  &:hover {
    background-color: rgb(255, 252, 248);
    color: rgba(255, 167, 81, 1);
    border: 1px solid rgb(255, 167, 81);
    border-radius: 20px;
    .icon {
      filter: invert(80%) sepia(7%) saturate(4814%) hue-rotate(326deg)
        brightness(101%) contrast(101%);
    }
  }
}

.container-btns {
  width: 90%;

  .img-waiter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10px;
    margin-bottom: 30px;

    img {
      @include minimum-size{ 
        height: 85px;
      }
    }
  }
}

.username {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
}

@media (max-width:769px) {

  .username {
    margin-left: 15px;
  }

  .nav-link {
    font-size: 14px;
    width: 99%;

    .icon {
      width: 25px;
      margin-left: 5px;
    }
  }

  .glass-panel {
    margin: 30px;
    height: 94%;
  }
  
}