<div class="container-waiter-panel">

  <div class="glass-panel">
    <aside class="glass-panel-dashboard">
      <div class="container-btns">
        <div class="img-waiter">
          <img src="../../../../assets/images/MESERX 1.png" />
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" routerLink="/waiter/menu">
              <img
                class="icon icon-dashboard"
                src="../../../../assets/images/icon-menu.png"
                alt=""
              />
              MENÚ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/waiter/orders">
              <img
                class="icon icon-dashboard"
                src="../../../../assets/images/icon-orders.png"
                alt=""
              />
              ORDERS
            </a>
          </li>
        </ul>
      </div>

      <a class="nav-link nav-link-logoutbtn" href="">
        <img
          class="icon icon-dashboard"
          src="../../../../assets/images/icon-logout.png"
          alt=""
        />
        LOG OUT
      </a>
    </aside>

    <div class="glass-panel-container-routing">
      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>
