.nav-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 5%;
    margin-left: 6.5%;
}

.img-logo {
    width: 40px
}

.hamburger-logo {
    width: 600px;
    height: 500px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 9px;
}

.logo h1 {
    font-size: 3rem;
}