@mixin text($color, $f-family, $f-weight, $f-size, $l-spacing){
    color: $color;
    font-family: $f-family;
    font-weight: $f-weight;
    font-size: $f-size;
    letter-spacing: $l-spacing;
}

@mixin button($border, $b-radius, $color, $padding){
    border: $border;
    border-radius: $b-radius;
    background-color: $color;
    padding: $padding;
}

@mixin d-flex($flex, $j-content,$a-items, $f-direction){
    display: $flex;
    flex-direction: $f-direction;
    justify-content: $j-content;
    align-items: $a-items;
}

.container-login {
    background-color: #F0E5D9;
    background-image: url("../../../assets/images/inicio.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 960px;
}

.nav-login {
    @include d-flex(flex, space-around, center, row);
    padding-top: 5%;
    margin-left: 6.5%;
}

.img-logo {
    width: 40px
}

.hamburger-logo {
    width: 600px;
    height: 500px;
}

.logo {
    @include d-flex(flex, space-around, center, row);
    column-gap: 9px;
}

.logo h1 {
    font-size: 3rem;
}

.btn-font {
    @include text(black, ('Montserrat', sans-serif), 600, 1.7rem, 1px);
    @include button(none, 60px, #F0E5D9, 20px);
    cursor: pointer;

    &:hover {
        @include button(none, 60px, #000000, 20px);
        @include text(rgb(255, 255, 255), ('Montserrat', sans-serif), 900, 1.7rem, 1px);
    }

} 

