<section class="about-us">
    <p class="text-about-us">
        Our restaurant was born with a double objective: we want to be a restaurant where you like to eat and where you like to be. 
        <br><br>
        Our open kitchen responds to the need to share our passion with our customers. We like what we do and we like you to see it.
        <br><br>
        Our gastronomic proposal offers two alternatives, always of the same quality. With the daily menu we wanted to reinvent a traditional bet without losing the essence. In the menu we have given free rein to our imagination and our desire to innovate.
    </p>
</section>
