.section-quote {
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
    padding-top: 150px;
    padding-bottom: 6.5%;
}

@media(min-width: 1700px) {
    .section-quote {
    margin-right: 16%
    }

}