@mixin minimum-size {
    @media (min-width: 1000px) and (max-width: 1340px) {
        @content
    }
}

@mixin medium-size {
    @media (min-width: 1341px) and (max-width: 1410px) {
        @content
    }
}

@mixin max-size {
    @media (min-width: 1411px) and (max-width: 1439px) {
        @content
    }
}

@mixin max-height {
    @media (min-height: 700px) {
        @content
    }
}

@mixin media-query-custom($min-width, $max-width) {
    @media (min-width: $min-width) and (max-width: $max-width) {
        @content
    }
}

.section-quote {
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
    padding-top: 150px;
    padding-bottom: 6.5%;

    img {
        @include minimum-size{ 
            width: 44%;
        }
    }

    @include minimum-size{ 
        padding-top: 100px;
        padding-bottom: 3%;
    }

    @include medium-size{ 
        padding-top: 100px;
        padding-bottom: 3%;
    }

    @include max-size{ 
        padding-top: 100px;
        padding-bottom: 3%;
    }

    @include max-height(){ 
        padding-top: 160px;
        padding-bottom: 5%;
    }
    
}

@media(min-width: 1700px) {
    .section-quote {
    margin-right: 16%
    }

}

@media (max-width:769px) {
    .section-quote {
        display: flex;
        width: 241px;
        height: 162px;
        justify-content: flex-start;
        margin-top: 45%;
        margin-left: 25%
    }
}
